*{
	margin: 0;
	padding: 0;
}

#div0{
	height: 100vh;
    width:  100vw;
    background-color: #f5429e;
    text-align: center;

}

#header0{
	color: #fff;
	padding: 20% 0;
	font-family: 'Varela Round', sans-serif;
	font-size; 40px;
}
